@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@font-face {
  font-family: 'SpotifyCircular-Bold';
  src: url('/Users/sbucheaclaudiu/SpotifyMovies_frontend/spotify_movies_frontend/public/fonts/CircularStd-Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "SpotifyCircular-Book", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

